<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flux.lastbus.com.easysobuy">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/home"
            android:theme="@style/ActivityTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity android:name=".ui.activity.HomeActivity"
            android:launchMode="singleInstance"
            android:label="@string/home"/>
        -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.GuidePageActivity"
            android:theme="@style/ActivityTheme.Base"/>
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".ui.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/ActivityTheme.Base"></activity>
        <activity android:name=".ui.activity.Text2Activity"
            android:label="@string/settings"/>"
        <activity android:name=".ui.activity.AboutActivity"/>
        <activity android:name=".ui.activity.BottomSheetActivity"
            android:theme="@style/ShareTheme.Base" />
    </application>

</manifest>